* {
    outline: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: $font;
    list-style: none;
    box-sizing: border-box;
}

button{
    outline: none;
    cursor: pointer;
}

body{
    background-color: #eee;
    min-height: 100vh;
    height: 100%;
}